*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: 0;
    background: var(--dark-background-color);
    font-family: "Monstserrat", sans-serif;
    color: var(--light-text-color);
}

:root{
    --primary-color: #23A6F0;
    --secondary-color-1: #40BB15;
    --secondary-color-2: #3C403D;
    --text-color: #252b42;
    --second-text-color: #737373;
    --light-text-color: #FFFFFF;
    --dark-background-color: #252B42;
    --light-background-color: #FFFFFF;
    --hover-color: #2A7CC7;
    --disabled-element-color: #8EC2F2;
    --muted-color: #BDBDBD;
    --success-color: #2DC071;
    --alert-color: #E77C40;
    --danger-color: #E74040;
    --light-gray-1: #FAFAFA;
    --light-gray-2: #ECECEC;
}

h1{
    font-size: 58px;
    font-weight: 800;
    letter-spacing: 0.2px;
}

h2{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

h3{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.1px;
}

h4{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.1px;
}

h5{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1px;
}

h6{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

p{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
}

a{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.btn-text{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2px;
}